[submodule "apps/compiler/third-party/googletest"]
	path = apps/compiler/third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "apps/compiler/third-party/llvm-project"]
	path = apps/compiler/third-party/llvm-project
	url = https://github.com/llvm/llvm-project.git
